
# Email (e.g., Mailtrap or SMTP)
MAIL_SERVICE=gmail
MAIL_PORT=ramannagar0808@gmail.com
MAIL_USER=<your-gmail-app-password>
MAIL_PASS=ramannagar0808@gmail.com
MAIL_FROM=ramannagar0808@gmail.com
MAIL_TO=ramannagar0808@gmail.com